@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon/icomoon.eot?5bur4');
    src:    url('../fonts/icomoon/icomoon.eot?5bur4#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?5bur4') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?5bur4') format('woff'),
    url('../fonts/icomoon/icomoon.svg?5bur4#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-expand-less:before {
    content: "\e905";
}
.icon-expand-more:before {
    content: "\e906";
}
.icon-favorite-off:before {
    content: "\e903";
}
.icon-favorite-on:before {
    content: "\e904";
}
.icon-nav-back:before {
    content: "\e902";
}
.icon-document:before {
    content: "\e901";
}
.icon-menu-drawer:before {
    content: "\e900";
}
